body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #f4f4f4;
    margin: 0;
    box-sizing: border-box;
}

#chart-container {
    background: white;
    padding: 80px 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

svg {
    border: 1px solid #ddd;
    background-color: #fafafa;
}

h1 {
    margin-top: 0;
}

#charts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#barchart, #heatmap, #scatterplot, #linechart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}