body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
}

.chart {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.heading {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
}
